{% extends "master.twig" %}


{% block title %}List Animations{% endblock %}

{% block content %}
    <table class="table">
{% for a in model.animations %}
    <tr>
        <td>{{ a.name }}</td>
        <td><img src="{{ a.thumbNailUrl }}" alt="{{ a.name }}"></td>
        <td><img src="{{ a.rewardImage }}" alt="{{ a.name }}"><br/>{% include '_animationImagePartial.twig' with {'name':a.name} %}</td>
        <td>{{ HtmlLink("Delete", "Animation", "deleteAnimation", {"name":a.name }) }}</td>
    </tr>
{% endfor %}
    </table>
{% endblock %}